[Unit]
Description=Apply AMDGPU Power DPM setting
After=power-profiles-daemon.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/amdgpu-power-level

[Install]
WantedBy=multi-user.target